* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Walter Turncoat", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-color: #d7c7d8;
}
h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}
/* forda Cards */
.card {
  background-color: #d8d8d8;
  width: 100%;
  border-radius: 25px;
  box-shadow:
    0 20px 35px -12px rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.02);
  padding: 2rem;
  line-height: 1.6;
}
/* MAJOR CONTAINER STYLINGS */
.container {
  width: 100%;
  max-width: 1650px;
  margin: auto;
  display: flex;
  gap: 1rem;
}
.left,
.right {
  gap: 1rem;
  height: 51.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left {
  width: 70%;
}
.right {
  width: 30%;
}

/* LEFT and RIGHT SIDE STYLINGS */
.left .left-top,
.left .left-bottom,
.right .right-top,
.right .right-bottom {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.left-top {
  height: 40%;
}
.left-bottom {
  height: 60%;
}
.right-top {
  height: 40%;
}
.right-bottom {
  height: 100%;
}

/* the LEFT TOP CONTAINER STYLINGS  */
.left-top .top-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.left-top .top-left img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.left-top .top-left {
  line-height: 0.8;
}

/* the LEFT BOTTOM CONTAINER STYLINGS */
.left-bottom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.left-bottom .masonry {
  column-count: 3;
  column-gap: 10px;
  padding: 1rem 0;
  overflow-x: auto;
}
.masonry img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.left-bottom .masonry::-webkit-scrollbar {
  width: 0.5rem;
}
.left-bottom .masonry::-webkit-scrollbar-track {
  background: #aac4f5;
  border-radius: 20px;
}
.left-bottom .masonry::-webkit-scrollbar-thumb {
  background: #8ca9ff;
  border-radius: 20px;
}

/* the RIGHT TOP CONTAINER STYLINGS */
.right-top {
  flex-direction: column;
}
.right-top .contact-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.right-top .contact-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* the RIGHT BOTTOM CONTAINER STYLINGS */
.right-bottom {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.right-bottom .secret{
  font-size: 10rem;
  color: burlywood;
}
.right-bottom .diary{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* ====================== RESPONSIVNESS ====================== */
/* MOBILE */
@media (max-width: 767px) {
  .container {
    padding: 1rem;
  }
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    height: auto;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }

  /* LEFT and RIGHT SIDE STYLINGS */
  .left .left-top,
  .left .left-bottom,
  .right .right-top,
  .right .right-bottom {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  /* the LEFT TOP CONTAINER STYLINGS  */
  .left-top {
    flex-direction: column;
  }
  .left-top .top-left {
    width: 100%;
  }

  /* the LEFT BOTTOM CONTAINER STYLINGS */
  .left-bottom .masonry {
    height: 25rem;
    column-count: 1;
    overflow-y: auto;
  }
  .masonry img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    height: auto;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }

  /* the LEFT TOP CONTAINER STYLINGS  */
  .left-top {
    flex-direction: column;
  }
  .left-top .top-left {
    width: 100%;
  }

  /* the LEFT BOTTOM CONTAINER STYLINGS */
  .left-bottom .masonry {
    height: 25rem;
    column-count: 2;
  }
}
